* {
    padding: 0;
    margin: 0;
}


/* 헤더 */
header {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: #f6f8fa;
    /* align-items: center; */
}

h1 {
    background: url(./spr_intro.png);
    background-position: 0 -98px;
    width: 78px;
    height: 29px;
}

h1:hover {
    cursor: pointer;
}

.right_box {
    display: flex;
}

.right_box > select, button {
    margin: 0 10px;
}

select {
    width: 70px;
    border: none;
    color: #666666;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

select:hover {
    text-decoration: underline;
}

.sign_box{
    display: flex;
}

.sign_box > div > button {
    padding: 10px 24px;
    border: none;
    border-radius: 2px;
}
.sign_box > div > button > a {
    text-decoration: none;
    font-size: 14px;
}

.join_btn {
    background-color: transparent;
}

.join_btn:hover {
    text-decoration: underline;
}

.join_btn > a {
    color: #333333;
}

.login_btn {
    background-color: #21c531;
}
.login_btn > a {
    color: #fafafa;
}
/* 헤더 끝 */
/* 호버 안 함 */

/* 인트로 */
.intro_container {
     display: flex;
     justify-content: center;
     align-items: center;
     background: #f6f8fa;
     padding-top: 50px;
}

.intro_container > figure {
    width: 540px;
    overflow: hidden;
}

.intro_container > figure > img {
    width: 540px;
}

.intro_text {
    align-items: start;
    margin-left: 50px;
}

.intro_text > h2 {
    font-size: 48px;
    font-weight: 400;
}

.intro_text > p {
    margin-top: 16px;
}

.intro_sign_box {
    border: none;
    border-radius: 2px;
    margin: 16px 0;
}

.intro_sign_box > div > button {
    width: 340px;
    height: 54px;
    margin: 5px 0;
}

.intro_sign_box > div > button > a {
    text-decoration: none;
    font-size: 16px;
}

.intro_login_btn {
    background-color: #21c531;
    border: none;
}

.intro_login_btn >a {
    color: #fafafa;
}

.intro_join_btn {
    background-color: #ffffff;
    border: 1px solid #ececec;
}

.intro_join_btn > a {
    color: #333333;
}

.bottom_text {
    margin: 12px 0;
    font-size: 13px;
}

.bottom_text > p {
    padding-top: 12px;
}

.bottom_text > p > a {
    color: #21c531;
    font-weight: 900;
    margin-left: 6px;
}
/* 인트로 끝 */
/* 호버 안 함 */

/* 슬로건 */
.slogan_container {
    background: url(./bg_slogan.jpg);
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_box {
    text-align: center;
    color: #ffffff;
}

.text_box > h2 {
    font-size: 42px;
    font-weight: 500;
}

.text_box > P {
    font-size: 16px;
    margin-top: 18px;
}
/* 슬로건 끝 */

/* 밴드 설명 */
.explanation_container {
    display: flex;
    justify-content: center;
}

.explanation_container > ul {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    width: 1024px;
}

.explanation_container > ul > li {
    list-style: none;
}

.explanation_container > ul > li > figure > img {
    width: 300px;
    height: 160px;
}

.explanation_container > ul > li > h3 {
    font-size: 24px;
    margin-top: 16px;
    font-weight: 500;
}

.explanation_container > ul > li > p {
    font-size: 15px;
    margin-top: 6px;
}

/* 밴드 설명 끝 */

/* 밴드 모음 */
.band_container {
    width: 100%;
    height: 700px;
    background: #F5F6F8;
    display: flex;
    justify-content: center;
}
.band_box > div > p {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    padding: 46px 0px 19px;
    width: 1024px;
}

.band_box >div > p > a {
    font-size: 14px;
    text-decoration: none;
    color: #222222;
    padding-right: 15px;
}

.band_box > ul {
    display: flex;
}

.band_box > ul > li {
    display: flex;
}

.band_box > ul > li > img{
    width: 93px;
    height: 93px;
    overflow: hidden;
    border-radius: 15px;
}

.band_name_box {
    align-items: start;
    margin-left: 20px;
}


.band_name_box > h3, p {
    font-size: 14px;
    padding: 2px 0;
}

.band_name_box > div > span {
    font-size: 12px;
    color: #777777;
}

.band_btn {
    margin: 0;
    margin-top: 5px;
    padding: 3px 10px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid #ececec;
}

.band_btn > a {
    color: #777777;
    text-decoration: none;
    font-size: 12px;
}

.band_btn > a > span {
    font-weight: 900;
    color: #222222;
    font-size: 12px;
}

/* 다운로드 */
.download_box {
    display: flex;
    justify-content: center;
}

.download_inside_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    padding: 30px 0;
}

.band_down_box {
    display: flex;
    align-items: center;
}

.band_img {
    display: inline-block;
    background-image: url(./spr_intro.png);
    width: 70px;
    height: 70px;
    background-position: -162px 0;
    margin-right: 15px;
}

.down_text_box > h3 {
    font-size: 23px;
}

.down_text_box > p {
    font-size: 14px;
}

.google_play {
    display: inline-block;
    background-image: url(./spr_intro.png);
    width: 160px;
    height: 47px;
}

.app_store {
    display: inline-block;
    background-image: url(./spr_intro.png);
    width: 160px;
    height: 47px;
    background-position: 0 -49px;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #2A3038;
}

.footer_box{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 1024px;
    height: 120px;
}

.footer_menu {
    display: flex;
    list-style: none;
}

/* .information_text {
    color: #a8a8a8;
    font-weight: 900;
} */

.footer_menu > li > a {
    text-decoration: none;
    color: #888888;
    font-size: 13px;
}

.footer_box > p {
    font-weight: 900;
    color: #b3b3b3;
    font-size: 13px;
}
